@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 209 31% 35%;
  --primary-foreground: 0 0% 98%;
  --accent: 201 61% 63%;
  --accent-foreground: 0 0% 98%;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}